.main__div--hide{
    display: none;
}
.card__overflow{
    display:block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
}
.card__close{
    position: relative;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: none;
    margin-bottom: 12px;
    cursor: pointer;
}
.card__line{
    position: absolute;
    left: 0;
    width: 100%;
    transform: rotate(45deg);
    height: 2px;
    background-color: #fff;
}
.card__line::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    transform: rotate(90deg);
    height: 2px;
    background-color: #fff;
}
.card__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
    margin: 25% 50%;
    transform: translate(-50% ,-50%);
    padding: 20px;
    opacity: 1;
    visibility: visible;
    background-color:rgba(70, 130, 180, 0.75);
    border: none;
    border-radius: 6px;
}
.apart{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}
.apart:last-child {
    margin-bottom: 0;
}
.card__info{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.list__img-item{
    width: 140px;
    height: 80px;
    border: none;
    overflow: hidden;
    transform: scale(1);
}
.list__img{
    display: none;
}