.main__div--hide{
    display: none;
}
.card__overflow{
    display:block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255 , 255 , 255 ,0.90);
    z-index: 50;
}
.card__close{
    position: relative;
    top: 18px;
    left: 18px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    margin-bottom: 12px;
    cursor: pointer;
}
.card__line{
    position: absolute;
    left: 0;
    width: 100%;
    transform: rotate(45deg);
    height: 2px;
    background-color: #000;
}
.card__line::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    transform: rotate(90deg);
    height: 2px;
    background-color: #000;
}
.card__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
    height: 600px;
    margin: 30% 50%;
    padding: 14px;
    transform: translate(-50% ,-50%);
    opacity: 1;
    visibility: visible;
    background-color:rgba(70, 130, 180, 0.60);
    border: none;
    border-radius: 6px;
}
.apart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}
.card__info{
    font-size: 16px;
    color: #000;
}
.list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
}
.list__img-item{
    width: 120px;
    height: 70px;
    border: none;
    overflow: hidden;
}
.list__img{
    display: none;
}