html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::after,*::before {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: Montserrat;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: var(--main-color);
    height: 100vh;
}
h1,h2{
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    color: var(--main-color);
    letter-spacing: 0.01em;
}
.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 10px 42px;
}
.hide {
    display: none;
}
h1,h2,h3,p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button,input {
    font: inherit;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    margin: 0;
    border: none;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.underline{
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
}
.underline::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #0000FF;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-name: moveX;
    animation-timing-function: linear;
} 
@keyframes  moveX {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}
@media (max-width: 1440px) {
    .container {
        padding: 10px 42px;
    }
}
@media (max-width: 1000px){
    .container {
        padding: 0 39px;
    }
}
