header{
    background-color:  var(--marine-color);
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.header__title{
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
    line-height: 17px;
}
.header__title-low{
    font-size: 19px;
    padding-left: 6px;
}
.burger{
    display: none;
    position: relative;
    --width: 21px;
    --height: 14px;
    --size-line: 2px;
    --color: var(--main-border-color);
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.burger__line{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(1);
    height: var(--size-line);
    background-color: var(--color);
    transition: transform 0.3s;
}
.burger::before,.burger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: var(--size-line);
    background-color: var(--color);
    transition: transform 0.3s ease, top 0.3s ease;
}
.burger::before{
    top: 0;
}
.burger::after{
    top: calc(100% - 2px);
}
.burger_active .burger__line{
    transform: translateY(-50%) scale(0);
}
.burger_active::before{
    top: 50%;
    transform: rotate(-45deg);
}
.burger_active::after{
    top: 50%;
    transform: rotate(45deg);
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 80px;
}

.header__btn{
    display: block;
    width: 190px;
    border: 2px solid #0000FF;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    padding: 3px 10px;
    margin-left: 20px;
}
.header__btn:hover{
    background-color: rgba(255 , 255 , 255 ,0.50);
    border: none;
}
